* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  transition: 0.2s;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.diagonalRect {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  background: #fdd;
  clip-path: polygon(0% calc(var(--x) + 20%), 0% 100%, 100% 100%, 100% 0%, var(--x) 0%);
  z-index: -1;
  animation: diagonalRectAnimation 2s forwards;
}

@keyframes diagonalRectAnimation {
  0%, 100% {
    clip-path: polygon(0% 90%, 0% 100%, 100% 100%, 100% 0%, 70% 0%);
  }
  
  50% {
    clip-path: polygon(0% 70%, 0% 100%, 100% 100%, 100% 0%, 90% 0%);
  }
}

h1 {
  font-size: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  padding-inline: 10px;
  padding-block: 3px;
  background: transparent;
  color: black;
}

nav ul li .activedTopic {
  background: red;
  color: white;
  border-radius: 60px;
}

.goUp {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 60px;
  height: 60px;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 2rem;
  box-shadow: 2px 2px 4px #0005;
  scroll-behavior: smooth;
  animation: goUpAnimation 0.2s forwards;
}

.goUp:hover {
  background: orange;
}

@keyframes goUpAnimation {
  0% {
    scale: 0%;
  }
  
  100% {
    scale: 100%;
  }
}

main {
  padding: 10px;
} 

main h2 {
  color: red;
}